### 제공한 데이터 파일(titanic.csv)을 이용하여 아래 통계치들을 계산하시오.

#### 데이터 파일을 불러온다.

In [1]:
import pandas as pd

In [2]:
t_df = pd.read_csv('titanic.csv')

In [3]:
t_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### 남성 탑승자의 평균 나이는?

In [4]:
t_df[t_df.Sex == "male"]["Age"].mean()

30.72664459161148

#### 여성 탑승자의 평균 나이는?

In [5]:
t_df[t_df.Sex == "female"]["Age"].mean()

27.915708812260537

#### 남성 생존자의 평균 나이는?

In [7]:
t_df[(t_df.Sex == "male") & (t_df.Survived == 1)].Age.mean()

27.276021505376345

#### 여성 생존자의 평균 나이는?

In [8]:
t_df[(t_df.Sex == "female") & (t_df.Survived == 1)].Age.mean()

28.84771573604061

#### 남성 생존자 중 최고령 생존자의 나이는?

In [10]:
t_df[(t_df.Sex == "male") & (t_df.Survived == 1)].Age.max()

80.0

#### 여성 생존자 중 가장 어린 생존자의 나이는?

In [12]:
t_df[(t_df.Sex == "female") & (t_df.Survived == 1)].Age.min()

0.75

#### 1등석 승객이면서 생존자의 평균 나이는?

In [14]:
t_df[(t_df.Pclass == 1) & (t_df.Survived == 1)].Age.mean()

35.36819672131148

#### 3등석 승객이면서 승선지가 퀸스타운(Q)이거나 사우샘프턴(S)인 승객 중 생존자는 총 몇명인가?

In [17]:
t_df[(t_df.Pclass == 3) & ((t_df.Embarked == "Q") | (t_df.Embarked == "S")) & (t_df.Survived == 1)].count().Survived

94